@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'happy_schoolregular';
    src: url('./fonts/happySchool/happy_school-webfont.woff2') format('woff2'),
         url('./fonts/happySchool/happy_school-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'designer';
    src: url('./fonts/designer/designer-webfont.woff2') format('woff2'),
         url('./fonts/designer/designer-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('./fonts/roboto/robotoRegular/roboto-regular-webfont.woff2') format('woff2'),
         url('./fonts/roboto/robotoRegular/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}